body {
    font-size: 1.5rem;
    color: white;
}

.wrapper {
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tiles {
    width: 100px;
    height: 100px;
    margin: -5px 5px;
    padding: 0;
    background: rgb(163, 154, 86);
}

.black {
    background: rgb(42, 39, 16);
}

/* hover effect on possibleMoves */
.possibleMoves {
    box-shadow: 5px 5px 10px rgb(19, 96, 0);
    background-color: rgba(23, 109, 1, 0.441);
}

.possibleMoves:hover {
    filter: contrast(100);
}